POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=secretpassword
POSTGRES_DB=ecommerce_db
REDIS_HOST=redis
REDIS_PORT=6379
AUTH_JWT_SECRET=supersecretjwtkey
AUTH_JWT_EXPIRE_MINUTES=60
AUTH_JWT_REFRESH_EXPIRE_DAYS=7
PRODUCT_SERVICE_HOST=product-service
PRODUCT_SERVICE_PORT=23002
ORDER_SERVICE_HOST=order-service
ORDER_SERVICE_PORT=23003
FRONTEND_URL=http://localhost:3000
BACKEND_AUTH_URL=http://localhost:23001
BACKEND_PRODUCT_URL=http://localhost:23002
BACKEND_ORDER_URL=http://localhost:23003