POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=secretpassword
POSTGRES_DB=ecommerce

REDIS_HOST=redis
REDIS_PORT=6379

AUTH_SERVICE_PORT=23001
PRODUCT_SERVICE_PORT=23002
ORDER_SERVICE_PORT=23003

JWT_SECRET_KEY=supersecretjwtkey
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_HOURS=24

FRONTEND_PORT=24000

VITE_API_AUTH_URL=http://localhost:23001/auth
VITE_API_PRODUCT_URL=http://localhost:23002/products
VITE_API_ORDER_URL=http://localhost:23003/orders
NODE_ENV=development